@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.features-section-heading {
    font-size: 25px;
    font-weight: bold;
}

.features-card-bg-container {
    text-align: center;
    font-family: "Roboto";
}

.features-img {
    height: 60px;
    width: 60px;
}

.features-card-bg-container-heading {
    font-size: 20px;
    color: #1f2933;
}

.features-card-bg-container-para {
    font-size: 15px;
    color: #7b8794;
}

.span-details {
    font-weight: bold;
    font-style: italic;
}

.kit-section-bg-container {
    background-color: #f9fbfe;
}

.kit-section-main-heading {
    font-size: 25px;
    font-weight: bold;
    color: #1f2933;
}

.kit-detail-card {
    text-align: center;
}

.kit-detail-card-img {
    height: 180px;
    width: 130px;
}

.kit-detail-card-para {
    color: #323f4b;
}

.optics-and-controller-heading {
    font-size: 30px;
    font-weight: bold;
    color: #1f2933;
}

.optics-and-controller-para {
    font-size: 18px;
    color: #7b8794;
}

.optics-and-controller-button {
    height: 40px;
    width: 120px;
    background-color: #1a2137;
    border-width: 0px;
    border-radius: 5px;
    color: #ffffff;
}

.contact-us-bg-container {
    background-color: #222b36;
    text-align: center;
}

.contact-us-bg-container-heading {
    color: #ffffff;
    font-size: 28px;
}

.contact-us-button {
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 5px;
    margin: 15px;
}

.trending-blog-heading {
    font-size: 25px;
    font-weight: bold;
    color: #1f2933;
}

.trending-blog-card {
    border-radius: 8px;
}

.trending-blog-card-heading {
    font-size: 12px;
    color: #959ead;
}

.trending-blog-card-para {
    font-size: 15px;
    color: #323f4b;
}

.trending-blog-card-link {
    font-size: 12px;
    color: #1754a1;
    font-weight: bold;
}

.button-align {
    text-align: right;
}

.trending-blog-card-button {
    background-color: #1754a1;
    height: 40px;
    width: 120px;
    color: #ffffff;
    border-width: 0px;
    border-radius: 5px;
}

.product-section-heading {
    color: #1f2933;
    font-size: 35px;
    font-weight: bold;
    font-family: "Roboto";
}

.bg-card-container1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    padding: 10px;
}

.bg-card-container-heading {
    font-size: 28px;
    font-family: "Roboto";
}

.bg-card-container-para {
    font-size: 13px;
}

.bg-card-container-btn {
    height: 40px;
    width: 110px;
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    color: #ffffff;
    border-color: #ffffff;
}

.bg-card-container2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    padding: 10px;
}

.btn-align {
    text-align: right;
}

.product-section-button {
    height: 40px;
    width: 110px;
    background-color: #1754a1;
    border-radius: 5px;
    border-width: 0px;
    color: #ffffff;
}

.footer-section-bg-container {
    background-color: #19232d;
}

.footer-img {
    text-align: center;
}

.footer-icons {
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: #5a7184;
    background-color: #202b36;
    border-radius: 25px;
    padding-top: 10px;
    margin: 5px;
}

.footer-para {
    font-size: 13px;
    color: #5a7184;
    text-align: left;
    margin: 10px;
}

.footer-heading {
    font-size: 15px;
    color: #959ead;
    font-weight: bold;
}

.footer-icons2 {
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: #5a7184;
}

.hr-spec {
    background-color: #959ead;
    width: 100vw;
}